name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  # Run the workflow regularly, as auto-merged PRs by bots may not trigger it.
  schedule:
    - cron: "0 0 1,15 * *"
  # Allow manual triggering of the workflow.
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      npm_config_engine_strict: true
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm install --global npm@latest
      - run: npm ci
      - run: npm test --ignore-scripts
      - run: npm run test:docker

  lint:
    uses: ybiquitous/.github/.github/workflows/nodejs-lint-reusable.yml@530c2571685fc8fd3462fad7d19beb613e28609d # v2.3.0
    permissions:
      contents: read
